body {
  background: rgb(195, 73, 73);
  color: blue;
}

p {
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  height: 70px;
  width: 200px;
  margin: 0;
  padding: 10px;
}
